<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de Usuário</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'cadastro/style.css' %}?v=9">
    <script>
        function cpfMask(input) {
            input.value = input.value.replace(/\D/g, '').slice(0,11);
        }
        function rgMask(input) {
            input.value = input.value.replace(/\D/g, '').slice(0,7);
        }
    </script>
</head>
<body>
    <div class="container">
        <h2>Cadastro de Professor</h2>
        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <input type="text" name="cpf" id="cpf" required placeholder="Digite o CPF" maxlength="11" oninput="cpfMask(this)">
            <input type="text" name="nome" id="nome" required placeholder="Digite o nome completo">
            <input type="text" name="rg" id="rg" required placeholder="Digite o RG" maxlength="7" oninput="rgMask(this)">
            <input type="email" name="email" id="email" required placeholder="Digite o email">
            <input type="password" name="senha" id="senha" required placeholder="Digite a senha">
            <button type="submit" class="btn">Cadastrar</button>
        </form>
        <a href="{% url 'login' %}">Já tem conta? Faça login</a>
        <a href="{% url 'home' %}">Voltar à Home</a>
    </div>
</body>
</html>