<!DOCTYPE html>
<html>
<head>
    <title>Painel do Professor</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'cadastro/style.css' %}">
</head>
<body>
    <div class="container">
        <div style="text-align:right;">
            <a href="{% url 'logout' %}" class="logout-link">Logout</a>
        </div>
        {% with nome=request.session.nome_completo %}
            {% if nome %}
                {% with nomes=nome.split %}
                    <h2>Bem-vindo, {{ nomes.0 }}{% if nomes.1 %} {{ nomes.1 }}{% endif %}!</h2>
                {% endwith %}
            {% endif %}
        {% endwith %}
        <div>
            <a href="{% url 'cadastrar_disciplina' %}" class="btn" style="width:100%;margin-bottom:10px;">Cadastrar Disciplina</a>
            <div style="display:flex; gap:10px; justify-content:center; margin-bottom:10px;">
                <a href="{% url 'cadastrar_aluno' %}" class="btn" style="width:100%;">Cadastrar Aluno</a>
                <a href="{% url 'lista_alunos' %}" class="btn" style="width:100%;">Ver alunos cadastrados</a>
            </div>
            <div style="display:flex; gap:10px; justify-content:center;">
                <a href="{% url 'cadastrar_questao' %}" class="btn" style="width:100%;">Cadastrar Questões</a>
                <a href="{% url 'lista_questoes' %}" class="btn" style="width:100%;">Ver questões cadastradas</a>
            </div>
        </div>
        <h2>Disciplinas Cadastradas</h2>
        {% if disciplinas %}
            <table class="table">
                <tr>
                    <th>Nome</th>
                    <th>Ano/Período</th>
                    <th>Ações</th>
                </tr>
                {% for d in disciplinas %}
                <tr>
                    <td>{{ d.nome }}</td>
                    <td>{{ d.ano }}</td>
                    <td>
                        <a href="{% url 'detalhe_disciplina' forloop.counter0 %}" class="btn-small">Ir para disciplina</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <div class="subtitle">Nenhuma disciplina cadastrada.</div>
        {% endif %}
    </div>
</body>
</html>